:root {
    /* Gray */
    --gray1: #F9FAFB;
    --gray2: #F3F4F6;
    --gray3: #E5E7EB;
    --gray4: #D1D5DB;
    --gray5: #9CA3AF;
    --gray6: #6B7280;
    --gray7: #4B5563;
    --gray8: #374151;
    --gray9: #1F2937;
    --gray10: #111827;

    /* Red */
    --red1: #FEF2F2;
    --red2: #FEE2E2;
    --red3: #FECACA;
    --red4: #FCA5A5;
    --red5: #F87171;
    --red6: #EF4444;
    --red7: #DC2626;
    --red8: #B91C1C;
    --red9: #991B1B;
    --red10: #7F1D1D;

    /* Yellow */
    --yellow1: #FFFBEB;
    --yellow2: #FEF3C7;
    --yellow3: #FDE68A;
    --yellow4: #FCD34D;
    --yellow5: #FBBF24;
    --yellow6: #F59E0B;
    --yellow7: #D97706;
    --yellow8: #B45309;
    --yellow9: #92400E;
    --yellow10: #78350F;

    /* Green */
    --green1: #ECFDF5;
    --green2: #D1FAE5;
    --green3: #A7F3D0;
    --green4: #6EE7B7;
    --green5: #34D399;
    --green6: #10B981;
    --green7: #059669;
    --green8: #047857;
    --green9: #065F46;
    --green10: #064E3B;

    /* Blue */
    --blue1: #EFF6FF;
    --blue2: #DBEAFE;
    --blue3: #BFDBFE;
    --blue4: #93C5FD;
    --blue5: #60A5FA;
    --blue6: #3B82F6;
    --blue7: #2563EB;
    --blue8: #1D4ED8;
    --blue9: #1E40AF;
    --blue10: #1E3A8A;

    /* Indigo */
    --indigo1: #EEF2FF;
    --indigo2: #E0E7FF;
    --indigo3: #C7D2FE;
    --indigo4: #A5B4FC;
    --indigo5: #818CF8;
    --indigo6: #6366F1;
    --indigo7: #4F46E5;
    --indigo8: #4338CA;
    --indigo9: #3730A3;
    --indigo10: #312E81;

    /* Purple */
    --purple1: #F5F3FF;
    --purple2: #EDE9FE;
    --purple3: #DDD6FE;
    --purple4: #C4B5FD;
    --purple5: #A78BFA;
    --purple6: #8B5CF6;
    --purple7: #7C3AED;
    --purple8: #6D28D9;
    --purple9: #5B21B6;
    --purple10: #4C1D95;

    /* Pink */
    --pink1: #FDF2F8;
    --pink2: #FCE7F3;
    --pink3: #FBCFE8;
    --pink4: #F9A8D4;
    --pink5: #F472B6;
    --pink6: #EC4899;
    --pink7: #DB2777;
    --pink8: #BE185D;
    --pink9: #9D174D;
    --pink10: #831843;

}